.cards {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.cards .box {
  height: 15rem;
  width: 70%;
  margin: auto;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.articles-card {
  width: 60vw;
  height: 20rem;
}
.articles-card .box {
  justify-content: flex-start;
  align-items: flex-start;
}
.trending-card .box {
  justify-content: center;
  align-items: center;
}
.carousel {
  width: 100%;
  height: 100%;
}

.articles-card h3 {
  font-size: 1.5rem;
}
.articles-card p {
  font-size: 1rem;
  overflow: hidden;
}

.trending-card {
  width: 30vw;
  height: 20rem;
}

.trending-card .icon {
  margin: 0 0 1rem 0;

  width: 6rem;
  height: 6rem;
}

/* for mobile */
@media (max-width: 767.98px) {
  .cards {
    flex-direction: column;
  }
  .articles-card h3 {
    font-size: 4vw;
  }
  .articles-card p {
    font-size: 3vw;
  }
  .articles-card {
    width: 100%;
  }
  .trending-card {
    width: 100%;
  }
}
