.icon {
  max-height: 20px;
  margin-right: 10px;
}

.cell {
  display: flex;
  align-items: center;
}

.name-text {
  font-size: 15px;
  margin-right: 20px;
}

.symbol-text {
  font-size: 13px;
  font-weight: 600;
  color: rgb(130, 130, 130);
}
.chart {
  width: 150px;
}

.red {
  color: red;
}
.green {
  color: green;
}
