:root {
  --bg-color: rgb(241, 245, 248);
}

a {
  text-decoration: none !important;
  color: black;
}
a:hover {
  color: black;
}
.nav-bar a {
  color: white;
}
.nav-bar a :hover {
  color: rgb(211, 210, 210);
}

.red {
  transition: color 1s;
  color: red;
}
.green {
  transition: color 1s;
  color: green;
}

.black {
  transition: color 1s;
  color: black;
}
