a {
  text-decoration: none !important;
  color: black;
}
a:hover {
  color: black;
}
.main-page .icon {
  max-height: 20px;
  margin-right: 10px;
}

.cell {
  display: flex;
  align-items: center;
}

.main-page .name-text {
  font-size: 15px;
  margin-right: 20px;
}

.main-page .symbol-text {
  font-size: 13px;
  font-weight: 600;
  color: rgb(130, 130, 130);
}
.chart {
  width: 150px;
}
.cell {
}
.red {
  transition: color 1s;
  color: red;
}
.green {
  transition: color 1s;
  color: green;
}

.black {
  transition: color 1s;
  color: black;
}

.search {
  width: 300px;
  margin: 10px;
}

/* for mobile */
@media (max-width: 767.98px) {
  .search {
    width: 60%;
    margin: 1%;
  }
}
